<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home Page</title>
	

</head>
<body>
	
  <%= render "nav"%>



<div>
  
  <div class="container">
  <div class="row">
    <% books = Book.all 
        books.each do |book|
    %>
    <div class="col-sm-4 mt-2">
      <div class="card" style="width: 18rem;">
        <!-- <img src="images/log.png" class="card-img-top" alt="..."> -->
        <div class="card-body">
         <h5 class="card-title">Book Name: <%=book.title%></h5>
         <p class="card-text">Book Price : <%=book.price%></p>
         <p class="card-text">Year Of publice : <%=book.year_publication%></p>
         <p class="card-text">Views : <%=book.views%></p>
         <p class="card-text">Author : <%=book.author.name%></p>

          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>





</div>












</body>
</html>